
@media (min-width: 900px) {
    .filtroMapa{
        float: right;
    }
}

.navbar-header-center {
    position: relative;
    float: none !important;
    width: 66.66% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}


@media (min-width: 769px) {
	.YBAvatar {
	    margin-top: -28px;
	  }
}
.YBTableRow {
    height: 50px;
}
.YBTableCell {
    padding-top: 15px;
}